<p>
  parent works!
</p>
<div class="div1">
  <div *ngFor="let obj of value"  style="margin-left:10px" >
  <!-- value of data is {{obj.Description}} -->
  <!-- <img src={{obj.NewsPic}} width='150px'  alt="this pic is not exit"> 
  <p> {{obj.Summary}}
 {{obj.Editor}}</p>
</div></div> -->

    
<!-- <div class="div1"><div  *ngFor="let obj of value1">
    <img src={{obj.NewsPic}} width="150px"> <p>{{obj.Summary}}  {{obj.Editor}}</p> 
<button (click)=onClickDtaSend()>more Info</button>
</div></div> -->
<button (click)="SendData(obj)">change to navi</button>
<!-- <button (click)="onClickSpecification()">specification</button> -->
<app-child></app-child>

