<p>
  child works! yoyoyo
</p>
<div *ngIf="value">
<img src={{value.NewsPic}} width='150px'  alt="this pic is not exit"> 
  <p> {{value.Summary}}
 {{value.Editor}}</p>

</div>
<!-- <div class="div1" >
<div *ngFor="let obj of value2">value of data is {{obj.Summary}}

    {{obj.Editor}}
    {{obj.date}}
    {{obj.Description}}    
    <img src={{obj.NewsPic}}  width='150px' alt="this pic is not exit"

</div>
</div>    -->
  <!-- </div> -->
    <!-- <div *ngFor="let obj of value2">
        <img src={{obj.NewsPic}} width="150px"> <p>{{obj.Summary}}  {{obj.Editor}}</p> 
    <button (click)=onClickDtaSend()>more Info</button>
    </div> -->

